%h1 New movie

- form_for(@movie) do |f|
  = f.error_messages
  %p
    = f.label :title
    %br/
    = f.text_field :title
  %p
    = f.label :source
    %br/
    = f.select :source, Movie::SOURCES.map {|m| [m, Movie::SOURCES.index(m)]}
  %p
    = f.submit 'Create'
