!!! Strict
%html{:xmlns => "http://www.w3.org/1999/xhtml", 'xml:lang' => 'en', :lang => 'en'}

  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html;charset=utf-8'} 
    %title
      The DVD collection of Steven Wilkin
      - if @title_for_layout
        == &raquo; #{@title_for_layout}
    %meta{:name => 'description', :content => 'A simple CMS developed in Rails used to manage my DVDs'}
    = stylesheet_link_tag 'reset', 'movies'

  %body

    #wrapper

      #header
        %h1
          = link_to 'Movies', root_path
        %p
          = link_to 'Steven Wilkin', 'http://stevenwilkin.com'
          = link_to 'Contact', 'http://stevenwilkin.com/contact'

      #admin
        #notice
          = flash[:notice]
        - if admin?
          = link_to 'New movie', new_movie_path
          = link_to 'Logout', logout_path
  
      #nav
        %ul
          - @nav.each do |n|
            %li= link_to "#{n.letter} (#{n.count})", character_path(:character => n.letter)
          
      #content
        = yield

    %script{:type => 'text/javascript', :src => 'http://www.google-analytics.com/ga.js'}
    :javascript
      try {
      var pageTracker = _gat._getTracker("UA-2764682-8");
      pageTracker._trackPageview();
      } catch(err) {}
